.cart-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.cart-item-container img {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}

.cart-item-container .cart-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
